/*
Magpie API Documentation

Magpie API for QRPh and Disbursement services

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package magpiepay

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// ReferencesAPIService ReferencesAPI service
type ReferencesAPIService service

type ApiListBankCodesV1ReferencesBankCodesGetRequest struct {
	ctx context.Context
	ApiService *ReferencesAPIService
	xAPIKey *string
	authorization *string
}

func (r ApiListBankCodesV1ReferencesBankCodesGetRequest) XAPIKey(xAPIKey string) ApiListBankCodesV1ReferencesBankCodesGetRequest {
	r.xAPIKey = &xAPIKey
	return r
}

func (r ApiListBankCodesV1ReferencesBankCodesGetRequest) Authorization(authorization string) ApiListBankCodesV1ReferencesBankCodesGetRequest {
	r.authorization = &authorization
	return r
}

func (r ApiListBankCodesV1ReferencesBankCodesGetRequest) Execute() (*BankCodeCollection, *http.Response, error) {
	return r.ApiService.ListBankCodesV1ReferencesBankCodesGetExecute(r)
}

/*
ListBankCodesV1ReferencesBankCodesGet List Bank Codes

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListBankCodesV1ReferencesBankCodesGetRequest
*/
func (a *ReferencesAPIService) ListBankCodesV1ReferencesBankCodesGet(ctx context.Context) ApiListBankCodesV1ReferencesBankCodesGetRequest {
	return ApiListBankCodesV1ReferencesBankCodesGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return BankCodeCollection
func (a *ReferencesAPIService) ListBankCodesV1ReferencesBankCodesGetExecute(r ApiListBankCodesV1ReferencesBankCodesGetRequest) (*BankCodeCollection, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BankCodeCollection
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReferencesAPIService.ListBankCodesV1ReferencesBankCodesGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/references/bank_codes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAPIKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-Key", r.xAPIKey, "simple", "")
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
